#title, #escalade, #infoTechs, #espace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1000px;
    text-align: center;
}
h1, h2 {
    color: #b8cbd0;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 50px;
}
p {
    color: #709ca7;
    font-size: 35px;
    margin: 10px;
}
