#title, #escalade, #infoTechs, #espace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center;
    font-size: 2vw;
}
h1, h2 {
    color: #b8cbd0;
}
p {
    color: #709ca7;
}
