body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #344D59;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #B8CBD0;
    padding-top: 16px;
    padding-bottom: 16px;
    position: fixed;
    width: 100%;
    top: -60px;
    transition: 0.5s;
    z-index: 2;
}
    header nav ul {
        display: flex;
        justify-content: space-evenly;
        margin: 0px;
        padding: 0px;
    }
        header nav ul li {
            list-style-type: none;
        }

        
main {
    color: #709CA7;
}
.title {
    height: 100vh;
    position: relative;
}
.title h1{
    font-size: 10vw;
}
.adj h1{
    font-size:5vw; 
}
#finPhrase{
    color: #B8CBD0;
}
#fleche{
    height: 20px;
    width: 20px;
    position: absolute;
    border-bottom: 5px #B8CBD0 solid;
    border-left: 5px #B8CBD0 solid;
    top: 65%;
    left: 50%;
    transform:rotateZ(315deg);
    transition: 0.2s;
}


footer {
    background-color: #B8CBD0;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    margin: 16px;
    padding: 16px;
}
    footer section {
        display: flex;
        flex-direction: column;
    }
        footer h6 {
            margin: 0px;
        }
        footer section ul {
            display: flex;
            flex-direction: column;
            padding: 0px;
            margin: 0px;
        }
            footer section ul li {
                list-style-type: none;
            }